* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.home {
  width: 800px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.home h2 {
  text-align: center;
  margin-bottom: 15px;
}

.chat-box {
  border: 1px solid #ccc;
  height: 300px;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
  background: #fafafa;
}

.message {
  background: #e9e9e9;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}

.input-box {
  display: flex;
  gap: 8px;
}

.input-box input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input-box input:focus {
  border-color: #007bff;
}

.input-box button {
  padding: 8px 16px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.input-box button:hover {
  background: #0056b3;
}
.notification {
  background: #fffae6;
  border-left: 5px solid #ff9800;
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.notification-time {
  font-size: 11px;
  color: #666;
  margin-top: 4px;
}
.notification-box {
  max-height: 200px;
  overflow-y: auto;
}
.upload-box input[type='file'] {
  display: none;
}
.upload-box label {
  padding: 8px 16px;
  border: none;
  background: #e5ebf1;
  border-radius: 4px;
  cursor: pointer;
}
.show_file .file-info {
  margin-block: 8px;
  font-size: 15px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 4px;
  background: #e5ebf1;
  padding: 4px 8px;
  border-radius: 4px;
}
.payment-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.order-box p {
  margin: 8px 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.pay-btn {
  width: 100%;
  padding: 12px;
  background: #635bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.pay-btn:hover {
  background: #4b44d4;
}
